---
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { 
  title = "The Future of Messaging in APAC", 
  description = "Join us in Jakarta for the first dedicated Vonage RCS (Rich Communication Services) event in APAC. Don't miss out. Register Now.",
  image = "/images/meta-tags.png" /* TO BE UPDATED */
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site || "https://vonage-events.com"); /* TO BE UPDATED */
const imageURL = new URL(image, Astro.site || "https://vonage-events.com"); /* TO BE UPDATED */
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<!-- Favicons -->
		<link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
		<link rel="shortcut icon" href="/favicons/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Vonage" />
		<link rel="manifest" href="/favicons/site.webmanifest" />

		<meta name="generator" content={Astro.generator} />

		<!-- Primary Meta Tags -->
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={imageURL} />

		<!-- X (Twitter) -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={canonicalURL} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={imageURL} />

	</head>
	<body>
		<slot />
		
		<script is:inline src="https://cdn.usal.dev/latest"></script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
